
body {
    font-family: Arial;
    background-color: #e8e8e8;
    margin: 0;
}

header {
    background-color: #b9d6f2;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #174a7e;
}

.nav-links a {
    color: black;
    text-decoration: none;
    margin: 10px;
}

.nav-links a:hover {
    color: blue;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #cccccc;
}

h2 {
    color: #174a7e;
}

img {
    width: 250px;
    display: block;
    margin-bottom: 15px;
}

li {
    margin: 10px;
}

.bouton {
    background-color: #b9d6f2;
    color: black;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #777777;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 15px;
}